# : comments

# ignore .DS_Store file
.DS_Store

# ignore all files in .jekyll-cache/ directory
.jekyll-cache/

*.gem
*.sublime-project
*.sublime-workspace
.bundle
.DS_Store
.jekyll-cache
.jekyll-metadata
.sass-cache
_asset_bundler_cache
_site
codekit-config.json
example/_site
Gemfile.lock
node_modules
npm-debug.log*
vendor/bundle
.project
